# Compiled binaries
/todo
cmd/todo/todo
cmd/todo/main
cmd/tester/main
main

#just in case for Windows users 
todo.exe
cmd/todo/todo.exe

# Database and state files
*.db
*.csv


# Editor directories and files
.vscode/
.idea/
*.swp
*.DS_Store
